
table, th, td {
    border: 3px solid rgba(25,150,255,0.5);
    font-family: Times;
    text-shadow: 0 0 5px #aaaaff;
    color: #ffffff;
}

table {
    border-collapse: collapse;
}

h1 {
    font-family: Impact;
    text-shadow: 0 0 3px #aaaaff;
    color: #ffffff;
}

body {
    background-image: url('assets/cool_background.jpeg');
    background-size: 100% 100%;
}

select, button {
    color: #ffffff;
    text-shadow: 0 0 5px #aaaaff;
    background-color: rgba(25, 150, 255, 0.5);
    border: 3px solid rgba(2, 150, 255,0.5);
}

tr {
    cursor: default;
}

.selected{
    background-color: rgba(25, 150, 255, 0.25);
}